<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uber Estimate API</title>
</head>
<body>
<h2>Welcome to the Uber cost Estimate web service app.</h2>
<p>URL call format:</p>
<p>Addresses: /estimate/address/?f_addr="From address"&t_addr="To address"</p>
<p>Coordinates: /estimate/coord/?f_lat="From lat"&f_long="From long"&t_lat="To lat"&t_long="To long"</p>
<p>Created by <b>Shashank Kumar Shankar</b>. For questions, Email me at: <b>shank7485@gmail.com</b></p>
</body>
</html>